/* -----------------------------------------------------------------------------
 * COMPONENTS
 */


//@import "components.";

.c-error {
  color: #ff5252;
  background-color: inherit;
}

.c-success {
  color: inherit;
  background-color: inherit;
}
